@font-face {
    font-family: 'Iosevka';
    src: url(ttf/iosevka-extended.ttf);
}
strong{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
header{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
body{
    background-color: #000000;
}
p{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
h1{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
h2{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
h3{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
h3{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
h4{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
h5{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
h6{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
li{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
ul{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
th{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
td{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}
/* Classes */

.default{
    color: #20C20E;
    font-family: 'Iosevka',Arial, sans-serif;
}

.CL{
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.CL li::before {
    content: ">";
    margin-right: 5px;
}

.Logo{
    text-align: left;
}
/* Pseudo Class */

a:visited {
    text-decoration: none;
    color: #20C20E;
}
a:hover{
    color: #0e6b0e;
}
